[defaults]
inventory           = inventory/hosts.yml
roles_path          = roles
host_key_checking   = False
stdout_callback     = yaml
# Модуль лежит прямо в роли, Ansible найдёт его автоматически
# через roles/outline/library/

[ssh_connection]
pipelining          = True
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s
